html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(77, 77, 77);
    background-image: url("./images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mainArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    position: absolute;
    top: 7%;
    left: 22%;
    background-color: rgba(180, 180, 180, 0.5);
    border: 1px solid #ffffff;
    border-radius: 25px;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#profile-picture {
    border-radius: 100%;
    border: 1px solid white;
    width: 128px;
    height: 128px;
    display: block;
    margin-top: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#name {
    font-family: "Rubik Mono One", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
}

#alias {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: white;
}

#bio {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: white;
}

#bio ul ul li a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#bio ul ul li a:hover {
    color: rgb(255, 0, 0);
    transition: 0.3s;
}

.discord {
    position: relative;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.discord img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discord:hover {
    background-color: rgba(0, 0, 0, 0.705);
    color: black;
    transition: 0.3s;
}

.youtube {
    position: relative;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.youtube img {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.youtube:hover {
    background-color: rgba(0, 0, 0, 0.705);
    color: black;
    transition: 0.3s;
}

.github {
    position: relative;
    transition: 0.3s;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 48px;
}

.github img {
    width: 48px;
    height: 48px;
    margin-right: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.github:hover {
    background-color: rgba(0, 0, 0, 0.705);
    color: black;
    transition: 0.3s;
}

#music {
    background: linear-gradient(to right, #6236dc, #d17c62);
    width: 200px;
    height: 75px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: "Ubuntu", sans-serif;
    font-size: medium;
    color: #fff;
    border: none;
    text-align: center;
    line-height: 45px;
    transition: background 0.3s ease 1s, box-shadow 0.3s ease 1s;
    border-color: black;
}

#music:hover {
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

#first {
    color: rgb(102, 255, 0);
}

#second {
    color: rgb(255, 255, 255);
}